{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

    <div class = "row">
        <div class = "col-md-4"></div>
        <div class = "col-md-4">

            <div class="card mt-5">
                <div class="card-body">
                    <div class="card-title py-3">
                        <h4>Set new password</h4>
                    </div>
                    <form action="{% url 'reset-user-password' uidb64 token %}" method="post">

                        {% csrf_token %}
                        {% include 'partials/_messages.html' %}
                        
                        <div class="form-group">
                                

                                <div class="form-floating mb-3">
                                    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input type="password" name="password2" class="form-control" id="floatingPassword" placeholder="Password">
                                    <label for="floatingPassword">Confirm Password</label>
                                </div>

                                <div class="d-grid gap-2 py-3">
                                    <button type="submit" class="btn btn-lg btn-dark submit-btn">Reset Password</button>
                                </div>
                        
                        </div>  
                    </form>
                   
                </div>  
            </div>
        </div>
        <div class = "col-md-4"></div>
    </div>

   

{% endblock %}


